
<p-image src="https://media.licdn.com/dms/image/C4E0BAQEL4grt1x2ySw/company-logo_200_200/0/1626700529120?e=1699488000&v=beta&t=WTZrVsm9ZTNZrJWQYaIKMeNuz7_AmlEHWiLn0Wc_X6A" alt="Image" width="80"></p-image>
<h1>Drogueria</h1>
<div class="card flex justify-content-center">
  <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" (onChange)="onRouteChange($event)"></p-selectButton>
</div>
<div style="margin-bottom: 20px;"></div>

<div>
  <!-- Aquí se cargará el contenido del componente según la ruta actual -->
  <router-outlet></router-outlet>
</div>